<% title "Classe Produto" %>

<p>
  <strong>Nome:</strong>
  <%= @classe_produto.nome %>
</p>

<p>
  <%= link_to "Edit", edit_classe_produto_path(@classe_produto) %> |
  <%= link_to "Destroy", @classe_produto, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", classe_produtos_path %>
</p>
